
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    background-color: rgb(61, 18, 61);
    color: white;
    padding: 1rem;
    position: relative;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

#menu {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 0.1rem;
    padding: 0.5rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✕";
}

.navigation {
    width: 100%;
}

.nav-links {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
}

.nav-links.active {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}

nav a:hover {
    color: yellowgreen;
    font-weight: 700;
}

main {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.home h2 {
    text-align: center;
    margin: 1rem 0;
    color: rgb(61, 18, 61);
}

footer {
    background-color: rgb(61, 18, 61);
    padding: 1rem;
    text-align: center;
    color: white;
    
}
#lastModified {
    color: rgb(148, 209, 34);
}

.temple-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(61, 18, 61, 0.5);
    text-align: center;
}
.temple-card img {
    width: 100%;
}