@media (min-width: 600px) {
  main {
    max-width: 800px;
    padding: 2rem;
  }

  form {
    gap: 1rem;
  }

  fieldset label, fieldset legend {
    display: block;
    margin-right: 1rem;
  }

  input[type="submit"] {
    width: fit-content;
    align-self: flex-start;
  }
  
  fieldset, select {
    gap: 0rem;
  }

  .form-group {
  margin-bottom: 1.5rem; 
  }

}